#startScreen {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #4facfe, #f857a6);
    display: flex;
    justify-content: center; /*אופקי*/
    align-items: center; /*אנכי*/
    z-index: 2000;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*the main container */
.start-card {
    background: white;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.title {
    font-size: 42px;
    color: #2c3e50;
    margin-bottom: 10px; /*רווח מתחת לטקסט*/
    font-weight: bold;
}

/*choose level title */
.instruction-text {
    color: #7f8c8d;
    font-size: 18px;
    margin-bottom: 30px; /*רווח מתחת לטקסט*/
}

.difficulty-container {
    display: flex;
    flex-direction: column; /*מסדרת את האלמנטים בעמודה*/
    gap: 15px;
    width: 100%; /* buttons have uniform width */
}

/* button styling inside the container */
.startBtn {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer; /*משנה את העכבר להיות לחצן*/
    background-color: #165aad; 
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.startBtn:hover {
    transform: translateY(-3px); /*כשעוברים מעל זה עולה למעלה ומשנה צבע*/
    background-color: #0b256c;
}

.subtitle {
    margin-top: 30px;
    color: #bdc3c7;
    font-size: 14px;
    font-weight: normal;
}

/*  כשלוחצים הסתרת מסך הפתיחה */
#startScreen.hidden-screen {
    display: none;
}



.backBtn {
    margin-top: 25px; /* רווח מהכפתורים שמעל */
    display: inline-block;
    text-decoration: none;
    color: #6e8efb; /* הצבע הכחול של האתר שלך */
    border: 2px solid #6e8efb;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.backBtn:hover {
    background: rgba(110, 142, 251, 0.1);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(110, 142, 251, 0.2);
    color: #a777e3; /* משנה צבע לסגול ב-hover */
    border-color: #a777e3;
}