body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background: #1e1e1e; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.form {
  display: none; /* כברירת מחדל הטופס הרשמה מוסתר */
  flex-direction: column;
  width: 280px;
  gap: 20px;
}

/* רק כשיש את המחלקה active הטופס יוצג */
.form.active {
  display: flex; 
}

.tabs {
  margin-bottom: 30px;
  text-align: center;
}

.tab {
  background: none;
  border: none;
  color: gray;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}

.tab.active {
  color: #00ff66;
  border-bottom: 2px solid #00ff66;
}

input {
  height: 35px;
  border-radius: 50px;
  border: none;
  padding: 0 15px;
  font-weight: 550;
  background: #fff;
}

input::placeholder {
  text-align: center;
}

.submit {
  margin-top: 30px;
  border-radius: 50px;
  background-color: dimgrey;
  height: 40px;
  color: white;
  font-weight: 550;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  background-color: #00ff66;
  color: #000;
}