/* =========================
   מסך פתיחה (Start Screen)
   ========================= */
#startScreen {
  position: fixed;
  inset: 0; /* מכסה את כל המסך */
  background: linear-gradient(135deg, #4facfe, #f857a6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;       /* מעל שאר המסך */
}
/* =========================
   כותרת ראשית במסך פתיחה
   ========================= */
.title {
  font-size: 48px;
  color: black;
  margin-bottom: 20px;
}
/* =========================
   תמונת נחש במסך פתיחה
   ========================= */
.snake-img {
  width: 120px;
  margin-bottom: 20px;
}

/* =========================
   כפתור התחלת משחק
   ========================= */
#startBtn {
  padding: 15px 40px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: white;
}
/* =========================
   תת־כותרת / טקסט תחתון
   ========================= */
.subtitle {
  margin-top: 60px;
  color: white;
  font-weight: bold;
}

