/* =========================
   כותרת ראשית
   ========================= */
#headline {
  text-align: center;
}


/* =========================
   לוח המשחק (Grid)
   ========================= */
#board {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  justify-content: center;
}
/* =========================
   תא בסיסי בלוח
   ========================= */
.cell {
  width: 50px;
  height: 50px;
  background: cornflowerblue;
}

.snake {
  background: green;
}

.food {
  background: red;
}
/* =========================
   HUD – ניקוד, זמן, שיא
   ========================= */
#hud {
  color: rgb(27, 33, 33);
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto 10px auto;
  font-weight: bold;
}
/* =========================
   מסך Game Over (Overlay)
   ========================= */
#gameOverScreen {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* מחלקה להסתרת אלמנטים */
.hidden {
  display: none !important;
}

/* =========================
   חלון Game Over
   ========================= */
.gameover-box {
  background: rgb(197, 202, 203);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.gameover-box h1 {
  color: red;
  margin-bottom: 10px;
}

.gameover-box button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: aqua;
  border-radius: 10px;
}

.gameover-box button:hover {
  background-color: #00cccc;
}

/* =========================
   רשימת היסטוריית ניקוד
   ========================= */
#scoreHistory {
  list-style: none;          
  padding: 0;
  margin: 10px 0 20px;
  display: flex;
  flex-direction: column;/* פריטים אחד מתחת לשני */
  gap: 6px;
  align-items: center;
}
/* פריט בודד בהיסטוריה */
#scoreHistory li {
  width: 120px;
  padding: 6px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.backBtn {
    margin-top: 25px; /* רווח מהכפתורים שמעל */
    display: inline-block;
    text-decoration: none;
    color: #6e8efb; /* הצבע הכחול של האתר שלך */
    border: 2px solid #6e8efb;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
     background-color: #e7eadd;
}

.backBtn:hover {
    background-color: #e7eadd;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(110, 142, 251, 0.2);
    color: #a777e3; /* משנה צבע לסגול ב-hover */
    border-color: #a777e3;
}